# Ignore Folders
#------------------------------------------
node_modules

# Ignore file and file extensions
#------------------------------------------
*.log
*.node
*.orig
.DS_Store
.idea
package-lock.json